InstallationLogs/*.log

InstallationLogs/*.txt

InstallationArtifacts/*

InstallerScripts/TempDB_Install/*.sql

master/*.sql

!master/sp_XR_FileUsage.sql

!master/sp_XR_JobMatrix.sql

!master/sp_XR_LongRequests__TEMPLATE.sql

!master/sp_XR_FrequentQueries__TEMPLATE.sql

!master/sp_XR_MDFused.sql

!master/sp_XR_QueryCamera__TEMPLATE.sql

!master/sp_XR_QueryProgress__TEMPLATE.sql

!master/sp_XR_SessionSummary__TEMPLATE.sql

!master/sp_XR_SessionViewer__TEMPLATE.sql

